<div class="container">
    <div class="row">
        <div class="table-responsive-xl ">
          <table class="table" >
            <thead>
              <tr>
                <th class="text-left" *ngFor="let column of displayColumns">
                  {{column}}
                </th>                                                                        
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let list of dataToDisplay; let i=index"  (click)="openChildComponent(list)"  >  
                            
                <td *ngFor="let column of displayColumns"  [ngStyle]="{'background-color': (list.status == 'positive') ? 'red' : (list.status == 'negative') ?'green':'yellow'}" >
                  {{ list[column] }}
                </td>
              </tr>                                                                        
            </tbody>                                    
          </table>
          
          <app-update-modal *ngIf="isPopupOpen"  (updateDatainParent)="displayvalue($event)" (closePopup)="closePopup()" [rowData]="selectedRow"></app-update-modal>
        </div>
      </div>  
</div>
