<div class="container">
    <div class="card border-info">
        <div class="card-body">
            <div class="card-title">
                  <strong>  Login<hr></strong>
            </div>
            <div class="card-text">
                
                    <div >
                      <label for="name">User Name</label>
                      <input type="name"  [(ngModel)]="name"   class="form-control"  aria-describedby="name" placeholder="Enter user name">
                      <!-- <div *ngIf="loginForm?.get('name')?.touched && loginForm?.get('name')?.invalid">
                        <small *ngIf="loginForm?.get('name')?.hasError('required')">user name is required</small>
                       
                      </div> -->
                    </div>
                    <div >
                      <label for="password">Password</label>
                      <input type="password" [(ngModel)]="password"  class="form-control" id="password" placeholder="Password">
                      <!-- <div *ngIf="loginForm?.get('password')?.touched && loginForm?.get('password')?.invalid">
                        <small *ngIf="loginForm?.get('password')?.hasError('required')">password is required</small>
                       
                      </div> -->
                    </div>
                  
                  
            </div>
        </div>

            <button (click)="login()" type="submit"  class="btn btn-primary">Login</button>
      
    </div>
</div>

