<div class="container" id="myModal">

  <h5 class="modal-title">Update</h5>

  <form [formGroup]="UpdateForm" (ngSubmit)="submitData()">
    <div>
      <label for="RegNo">Id</label>
      <input id="RegNo" formControlName="RegNo" type="text" [disabled]="true" />
    </div>


    <div>
      <label for="first_name">First Name</label>
      <input id="first_name" formControlName="first_name" type="text" />
      <div *ngIf="UpdateForm?.get('first_name')?.touched && UpdateForm?.get('first_name')?.invalid">
        <small *ngIf="UpdateForm?.get('first_name')?.hasError('required')">First name is required</small>
        <small *ngIf="UpdateForm?.get('first_name')?.hasError('minlength')">First name must be at least 2 characters
          long</small>
      </div>
    </div>
    <div>
      <label for="middle_name">Middle Name</label>
      <input id="middle_name" formControlName="middle_name" type="text" />

    </div>

    <div>
      <label for="last_name">Last Name</label>
      <input id="last_name" formControlName="last_name" type="text" />
      <div *ngIf="UpdateForm?.get('last_name')?.touched && UpdateForm?.get('last_name')?.invalid">
        <small *ngIf="UpdateForm?.get('last_name')?.hasError('required')">Last name is required</small>
        <small *ngIf="UpdateForm?.get('last_name')?.hasError('minlength')">Last name must be at least 2 characters
          long</small>
      </div>
    </div>
    <div>
      <label for="phone_number">Phone Number</label>
      <input id="phone_number" formControlName="phone_number" />

    </div>
    <div>
      <label for="status">status</label>
      <select formControlName="status">
        <option *ngFor="let option of options" [value]="option">
          {{ option }}
        </option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="UpdateForm?.invalid">Update</button>
  </form>


</div>
